@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Orbitron&family=Tourney:wght@200&display=swap');

html {
    background-color: black;
}

h1 {
  size: 75px;
  color: white;
  font-family: 'Monoton', cursive;
}

h2 {
  size: 50px;
  color: white;
  font-family: 'Tourney', cursive;
}

.comingSoon {
  size: 50px;
  color: white;
  font-family: 'Orbitron', sans-serif;
}
logo {
    width: 75px;
}




p {
    font-size: 40px;
    font-family: monospace;
    color: white;
}
.h1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.nav {
    background-color: grey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
li {
    font-size: 40px;
    font-family: monospace;
    color: white;
    margin-right: 100px;
}
a {
    font-size: 40px;
    font-family: sans-serif;
    color: white;
}
