@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Orbitron&family=Tourney:wght@200&display=swap');

html {
  background-color: black;
  align-content: center;
}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px 50px;
}
.h1 {
  display: flex;
  flex-direction: row;
  size: 75px;
  color: white;
  font-family: 'Monoton', cursive;
}
h2 {
  size: 50px;
  color: white;
  font-family: 'Tourney', cursive;
}
h3 {
  size: 50px;
  color: white;
  font-family: 'Tourney', cursive;
}
p {
  size: 50px;
  color: white;
  font-family: 'Orbitron', sans-serif;
}
#logo {
  width: 75px;
  height: 75px;
}
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.navP {
  size: 50px;
  color: white;
  font-family: 'Tourney', cursive;
}
.post {
  background-color: grey;
  width: 350px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 15px;
}
.footer {
  size: 50px;
  color: white;
  font-family: 'Tourney', cursive;
}